/*
https: //coolors.co/palette/001524-15616d-ffecd1-ff7d00-78290f 

001524 - dark blue 
15616d - cyan 
ffecd1 - tan 
ff7d00 - orange 
78290f - dark red
*/

body, div, p {
font-family: "Josefin Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Boldonse", sans-serif;
}